<div class="p-6 h-full w-full flex flex-col overflow-y-auto items-center">
    <input class="hidden" accept="*" multiple id="file-input" type="file" />
    <div class="p-6 flex text-xl bg-slate-700 text-slate-100 shadow-lg rounded-t-lg w-full h-16 items-center">
        <div class="w-[40%] text-center">Name</div>
        <div class="w-[20%] text-center">Type</div>
        <div class="w-[20%] text-center">Size</div>
        <div class="w-[20%] text-center">Actions</div>
    </div>
    <div id="files" class="bg-slate-50 w-full h-full overflow-y-auto shadow-lg rounded-b-lg flex-1"></div>
</div>
<script type="module" src="/assets/files.js"></script>